.DS_Store
*.sublime-project
*.sublime-workspace
*.log
.serverless
.dynamodb
v8-compile-cache-*
jest/*
coverage
reports
testProjects/*/package-lock.json
testProjects/*/yarn.lock
.serverlessUnzipped
node_modules
.vscode/
.eslintcache
dist
.idea
build/
.env*
.cache*
.serverless_nextjs
.serverless_plugins
env.js
tmp
yarn.lock
